* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* HEADER */

.header {

    width: 100%;
    max-width: 450px;

    margin: 20px auto;

    padding: 10px;

    background-color: white;

    border: 1px solid #ccc;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-volver {

    width: 100px;
    height: 35px;

    border: none;
    border-radius: 5px;

    background-color: #1e3a8a;
    color: white;

    font-weight: bold;

    cursor: pointer;
}

/* CONTENEDOR */

.container-reservas {

    width: 100%;
    max-width: 450px;

    min-height: 550px;

    margin: 0 auto 20px;

    padding: 30px;

    background-color: white;

    border: 1px solid #ccc;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
}

/* TITULOS */

.reservas-title {

    font-size: 28px;
    color: #1e3a8a;
}

.reservas-image {

    width: 80px;
    height: 80px;
}

.reservas-subtitle {

    font-size: 18px;
    color: #555;
}

/* FORMULARIO */

.formulario {

    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.form-campo {

    width: 100%;
}

input {

    width: 100%;
    height: 45px;

    padding: 10px;

    border: 1px solid #777;
    border-radius: 5px;

    font-size: 14px;
}

/* BOTON */

.btn-reservar {

    width: 150px;
    height: 45px;

    margin: 0 auto;

    border: none;
    border-radius: 5px;

    background-color: #43ad47;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

/* FOOTER */

.footer {

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    padding: 20px;

    background-color: white;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .header,
    .container-reservas {

        width: 95%;
    }
}